.homepage {
  width: 100%;
  background-color: var(--tg-theme-bg-color);
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  &__cats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    position: relative;
    background-color: orange;
    color: black;
    border-radius: 5px;
    span {
      width: 120px;
      height: 40px;
      border-radius: 5px;
      background-color: white;
      position: absolute;
      pointer-events: none;
      left: 0;
      transition: 0.2s ease-in-out;
    }
    button {
      width: 120px;
      height: 40px;
      border-radius: 10px;
      background-color: transparent;
      z-index: 2;
      color: black;
    }
  }
  &__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
