.homepage {
  width: 100%;
  background-color: var(--tg-theme-bg-color);
  max-width: 450px;
  min-width: 250px;
  margin: 0 auto;
  padding: 1rem;
  &__prev {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(50%) blur(2px);
    z-index: 9;
    background-color: transparent;
    &.prevOpened {
      display: flex;
    }
    &_wrapper {
      width: inherit;
      background-color: var(--tg-theme-bg-color);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      gap: 1rem;
      span{
        position: absolute;
        top: -35px;
        right: 0px;
        z-index: 9;
        color: orange;
        font-size: 24px;
        cursor: pointer;
      }
      .prev__img {
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .prev__desc {
        padding-left: 1rem;
      }
    }
  }
  &__cats {
    width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: var(--tg-theme-text-color);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    span {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      background-color: orange;
      position: absolute;
      pointer-events: none;
      left: 5px;
      transition: 0.3s ease-in-out;
    }
    button {
      width: 100px;
      height: 40px;
      border-radius: 10px;
      background-color: transparent;
      z-index: 2;
      color: var(--tg-theme-bg-color);
    }
  }
  &__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 3rem;
    @media (max-width: 331px) {
      flex-direction: column;
    }
  }
}
