@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-bg-color) !important;
}
body.fixed{
  overflow: hidden;
}
html{
  margin: 0 auto;
  position: relative;
}

button {
  border: none;
  outline: none;
}

.slick-slider {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.slick-slide{
  padding-left: 3px;
  padding-right: 3px;
}

.slick-slider .slick-arrow {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 145, 0, 0.206);
  >polyline{
    stroke: white;
  }
}

.slick-list{
  height: 100%;
  >div{
    height: 100%;
  }
}

.slick-slider .slick-prev {
  top: 50%;
  left: 3px;
  z-index: 2;
}

.slick-slider .slick-next {
  top: 50%;
  right: 3px;
  z-index: 2;
}

.slick-slider .slick-dots {
  position: absolute;
  bottom: 0;
  >li {
    margin: 0 !important;
    color: white !important;
  }
}

.slick-active {
  color: var(--tg-theme-text-color) !important;
  >li{
    >svg{
      fill: orange !important;
    }
  }
}

.slick-slider div {
  width: 100%;
}
.slick-slide div{
  height: 100%;
  width: 100%;
}

.slick-slider div img {
  width: 100%;
}